body {
    background-color: #3a2a4d;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #2C1030;
    color: whitesmoke;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 900px;
    text-align: center;
}

.box {
    background-color: #5A1C65;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    text-align: center;
}

.input {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    display: block;
    outline: none;
    width: 80%;
    max-width: 400px;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

.opcoes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 15px;
    max-width: 900px;
    margin: 0 auto;
}

section {
    background-color: #4063F0;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 20%; 
    min-width: 200px;
    max-width: 250px;
}

button {
    background-color: black;
    color: whitesmoke;
    padding: 16px;
    outline: none;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

button:hover {
    background-color: #333;
}

h3 {
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .opcoes {
        flex-direction: column;
        align-items: center;
    }

    section {
        width: 90%;
    }
}

@media (max-width: 450px) {
    .opcoes {
        flex-direction: column;
        align-items: center;
    }

    section {
        width: 100%;
    }
}